<h5>{{student.name}} DETAY</h5>
<table class="table table-hover">
  <tbody>
    <tr>
      <td class="table-info">İSİM</td>
      <td class="table-light">{{student.name}}</td>
    </tr>
    <tr>
      <td class="table-info">SOYAD</td>
      <td class="table-light">{{student.surName}}</td>
    </tr>
    <tr>
      <td class="table-info">TC NUMARASI</td>
      <td class="table-light">{{student.tc}}</td>
    </tr>
    <tr>
      <td class="table-info">OKUL NUMARASI</td>
      <td class="table-light">{{student.schoolNumber}}</td>
    </tr>
    <tr>
      <td class="table-info">ADRES</td>
      <td class="table-light">{{student.address}}</td>
    </tr>
    <tr>
      <td class="table-info">ÖĞRENCİ EMAİL ADRESİ</td>
      <td class="table-light">{{studentUser.emailAddress}}</td>
    </tr>
  </tbody>
  
  </table>